<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.tu-darmstadt.stg.reclipse.ReactiveViews"
            name="%view.category.name">
      </category>
      <view
            category="de.tu-darmstadt.stg.reclipse.ReactiveViews"
            class="de.tu_darmstadt.stg.reclipse.graphview.view.ReactiveTreeView"
            id="de.tu-darmstadt.stg.reclipse.graphview.ReactiveTreeView"
            icon="icons/reactivetree.png"
            name="%view.name">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.debug.core.model.IVariable"
            id="de.tu-darmstadt.stg.reclipse.graphview.debug.ui.VariableViewActions">
         <action
               label="%action.ViewReactiveTree.label"
               tooltip="%action.ViewReactiveTree.tooltip"
               icon="icons/reactivetree.png"
               class="de.tu_darmstadt.stg.reclipse.graphview.action.ShowReactiveTree"
               menubarPath="reactiveGroup"
               enablesFor="1"
               state="false"
               style="push"
               id="de.tu-darmstadt.stg.reclipse.graphview.debug.action.ShowReactiveTree">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.tu_darmstadt.stg.reclipse.graphview.Startup">
      </startup>
   </extension>
</plugin>
